
html{
  scroll-behavior: smooth;
}

body{

  background-color: #050A30 ;
  margin: 0;
  font: Arial, sans-serif;
  color: azure;
}

.page{
  min-height: 100vh;          /* Full screen */
  display: flex;              /* Center content */
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
}



