
html{
  scroll-behavior: smooth;
  
}

body{

  background-color: #050A30 ;
  margin: 0;
  font: Arial, sans-serif;
  color: azure;
  
}

.page{
  min-height: 100vh;          /* Full screen */
  display: flex;              /* Center content */
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
}

nav{

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #050A30;
  color: azure;
  /* border: 0.5px solid gray; */
  background: transparent;
  backdrop-filter: blur(10px); /* Adjust blur value as needed */
  background-color: rgba(255, 255, 255, 0.08);
  position: fixed;
  top:0;
  z-index: 100;

  
}
 
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

}

nav  li a{
  display: block;
  color: azure;
  text-decoration: none;
  position: relative;
  margin: 0px;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}

nav li a::before{
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #16eaf1;
  bottom: 0;
  left: 0;
  transition: width 0.4s;
}

nav li a:hover{
  color:#16eaf1
}

nav li a:hover::before{
  width: 100%;
  
}

#hero-section{
background-image: url("/images/hero-section-bg.png");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-position: center center;

}
